<div class="ui visible left demo vertical inverted sidebar labeled icon mySidebar menu">
	<a class="item" href="/user">
		<i class="users icon"></i>
		Users
	</a>
	<a class="item" href="/lab">
		<i class="lab icon"></i>
		Labs
	</a>
</div>
