<div class="ui blue inverted top fixed menu">
	<a class="item active"><i class="desktop icon"></i> Monitoring</a>
		<div class="right menu">
			<a class="item"><i class="info circle icon"></i> Help</a>
			<a class="item"><i class="sign in icon"></i> Log In</a>
		</div>
</div>