<div class="ui blue inverted top fixed menu">
	<div class="header item">
    MyLabStack
  </div>
	<a class="item" href="/administrator"><i class="dashboard icon"></i> Administrator</a>
	<a class="item" href="/monitoring"><i class="heartbeat icon"></i> Monitoring</a>
		<div class="right menu">
			<a class="item"><i class="info circle icon"></i> Help</a>
			<a class="item"><i class="sign in icon"></i> Log In</a>
		</div>
</div>
