<div class="ui visible left demo vertical inverted sidebar labeled icon mySidebar menu">
	<a class="item" href="/monitoring">
		<i class="heartbeat icon"></i>
		Monitoring
	</a>
	<a class="item" href="/lab">
		<i class="lab icon"></i>
		Labs
	</a>
	<a class="item" href="/category">
		<i class="tags icon"></i>
		Categories
	</a>
	<a class="item" href="/computer">
		<i class="desktop icon"></i>
		Computers
	</a>
	<a class="item" href="/service">
		<i class="rocket icon"></i>
		Services
	</a>
	<a class="item" href="/iprange">
		<i class="options icon"></i>
		IP Range
	</a>
	<a class="item" href="/user">
		<i class="users icon"></i>
		Users
	</a>
</div>
