<div class="ui visible left demo vertical inverted sidebar labeled icon mySidebar menu">
	<a class="item" href="/monitoring">
		<i class="heartbeat icon"></i>
		Monitoring
	</a>
	<a class="item" href="/computer">
		<i class="desktop icon"></i>
		Computer
	</a>
	<a class="item">
		<i class="smile icon"></i>
		Friends
	</a>
</div>
